@import "tailwindcss";


@font-face {
    font-family: 'Avenir';
    src: url('../public/Fonts/avenir/Avenir-Book.ttf');
}

@theme {
    --color-yellowGold: #E6CA97;
    --color-whiteGold: #D9D9D9;
    --color-roseGold: #E1A4A9;
}